body {
  background-color: DodgerBlue;
 padding: 60px;
  margin-top: 80px;
  }

p {
  text-align: center;
  font-family: Georgia;
  
}

.jumbotron {
border: solid;  
  border-width: 30px;
  border-color: DarkGrey;
  
}





